<p><%= link_to "作成", new_club_path %></p>

<div class="club_index">
  <h1>体育会所属団体</h1>
  <div class="items">
    <%= link_to "球技", clubs_taiikukai_kyugi_path %>
    <%= link_to "武道・射的競技", clubs_taiikukai_budo_path %>
    <%= link_to "陸上・水泳", clubs_taiikukai_rikujou_path %>
    <%= link_to "マリンスポーツ・スカイスポーツ", clubs_taiikukai_marine_path %>
    <%= link_to "その他", clubs_taiikukai_sonota_path %>
  </div>
  
  <h1>スポーツ系団体(公認・準公認)</h1>
  <div class="items">
    <%= link_to "球技", clubs_sports_kyugi_path %>
    <%= link_to "その他", clubs_sports_sonota_path %>
  </div>
  
  <h1>文化会所属団体</h1>
  <div class="items">
    <%= link_to "音楽", clubs_bunkakai_ongaku_path %>
    <%= link_to "芸術・芸能", clubs_bunkakai_geijutsu_path %>
  </div>
  
  <h1>文化系団体(公認・準公認)</h1>
  <div class="items">
    <%= link_to "音楽", clubs_bunkakei_ongaku_path %>
    <%= link_to "芸術・芸能", clubs_bunkakei_geijutsu_path %>
    <%= link_to "ボランティア", clubs_bunkakei_volunteer_path %>
    <%= link_to "国際関係・語学", clubs_bunkakei_kokusai_path %>
    <%= link_to "教養・文化・その他", clubs_bunkakei_sonota_path %>
  </div>
  
  <h1>その他</h1>
  <div class="items">
    <%= link_to "各種委員会", clubs_iinkai_path %>
  </div>
</div>

