<div class="page-visual">
  <% if current_user && current_user.admin? %>
    <%= link_to "編集", edit_club_path(@club) %>
  <% end %>
  <h1><%= @club.name %></h1>
  <%= image_tag "club/club#{@club.id}.jpg" %>
  <p><%= @club.content %></p>
  
  <% unless @club.date.blank? %>
  <table border="1" class="club-table">
    <tr>
      <td>活動日</td>
      <td><%= @club.date %></td>
    </tr>
    <tr>
      <td>部員数</td>
      <td><%= @club.member %></td>
    </tr>
    <tr>
      <td>活動場所</td>
      <td><%= @club.place %></td>
    </tr>
    <% unless @club.league.blank? %>
      <tr>
        <td>所属リーグ</td>
        <td><%= @club.league %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
  
  <div class="do-like">
    <%= link_to "話を聞きたい", "/likes/#{@club.id}/create",
        data: {confirm: "あたなの情報を送信します。よろしいですか？"} %>
  </div>
  
  <div class="club-lovers">
    <% if current_user %>
      <% if (current_user.email == @club.email) || current_user.admin?  %>
        <h1>興味を持ってくれている方々</h1>
        <% @likes.each do |like| %>
          <div class="information-box">
            <p><%= like.user.name %></p>
            <p class="mail"><%= like.user.email %></p>
            <p class="date"><%= like.created_at.to_s(:datetime_jp) %></p>
          </div>
        <% end %>
        
        <%= will_paginate @likes, class: "pagination-pc" %>
        <%= will_paginate @likes,previous_label: h("<"), next_label: h(">"), class: "pagination-phone" %>
      <% end %>
    <% end %>
  </div>
</div>


