<div class="homeTopics">
  <img id="main">
  <ul class="thumbnails"></ul>
</div>


<div class="content news">
  <h1>University News</h1>
  <% @manuscripts.each do |manuscript| %>
    <div class="contents">
      <h2><%= link_to manuscript.title, manuscript_path(manuscript) %></h2>
      <p><%= manuscript.created_at.to_s(:datetime_jp) %></p>
    </div>
  <% end %>
</div>

<div class="content evets">
  <h1>University Events</h1>
  <% @events.each do |event| %>
    <div class="contents">
      <h2><%= link_to event.title, event_path(event) %></h2>
      <p><%= event.created_at.to_s(:datetime_jp) %></p>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'static_pages/home.js' %>