<%= link_to event_path(event) do %>
  <div class="frame">
    <picture>
      <% if event.image? %>
        <%= image_tag "#{event.image}" %>
      <% else %>
        <%= image_tag "static_pages/nanzan_logo.jpg" %>
      <% end %>
    </picture>
    <div class="letters">
      <h2><%= event.title %></h2>
      <p><%= event.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
<% end %>