<%= provide(:title, 'Manuscript edit') %>
<div class="form-title">
  <h1>News form edit</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @manuscript, local: true) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :content %>
      <%= f.text_area :content %>
      
      <%= f.submit "Create manuscript", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>