<%= link_to manuscript_path(manuscript) do %>
  <div class="frame">
    <picture>
      <% if manuscript.image? %>
        <%= image_tag "#{manuscript.image}" %>
      <% else %>
        <%= image_tag "static_pages/nanzan_logo.jpg" %>
      <% end %>
    </picture>
    <div class="letters">
      <h2><%= manuscript.title %></h2>
      <p><%= manuscript.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
<% end %>