<%= provide(:title, 'Manuscript Form') %>
<div class="form-title">
  <h1>News form</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: manuscripts_path, scope: :manuscript, local: true) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      
      <%= f.label :content %>
      <%= f.text_area :content %>
      
      <%= f.file_field :image %>
      
      <%= f.submit "Create manuscript", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
