<%= provide(:title, @manuscript.title) %>

<div class="page-visual">
  <% if current_user && current_user.admin? %>
    <%= link_to "編集", edit_manuscript_path(@manuscript) %>
    <%= link_to "削除", manuscript_path(@manuscript), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  <h1><%= @manuscript.title %></h1>
  <% if @manuscript.image? %>
    <%= image_tag "#{@manuscript.image}" %>
  <% end %>
  <p><%= @manuscript.content %></p>
</div>