<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "NJS", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "NEWS",   '#' %></li>
        <li><%= link_to "EVENT",   '#' %></li>
        <li><%= link_to "INTERVIEW", '#' %></li>
        <li><%= link_to "サークル", '#' %></li>
        <li><%= link_to "楽単", '#' %></li>
        <li><%= link_to "質問", '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
        <li><%= link_to "新規登録", '#' %></li>
      </ul>
    </nav>
  </div>
</header>